*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

h3{
    display: flex;
    justify-content: center;
}

.container1{
    width: 100vw;
}
.container{
    margin: 200px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3%;
    grid-auto-flow: row;
    grid-template-areas:
      "item1"
      "item2"
      "item3";

  }
  
  .item1 { grid-area: item1; 
background-color: gray;
border: solid;

}
  .item2 { grid-area: item2; 
background-color: gray;
border: solid;
}
  .item3 { grid-area: item3; 
background-color: gray;
border: solid;
}

.chicken{
  width: 10%;
  background-color: #6CE8D3;
  float: right;
  margin: auto; 
  border-bottom: solid;
  border-left: solid;
  text-align: center;
}

.beef{
    width: 10%;
    background-color: #e96060;
    float: right;
    margin: auto; 
    border-bottom: solid;
    border-left: solid;
    text-align: center;
  }

  .sushi{
    width: 10%;
    background-color: #98ee71;
    float: right;
    margin: auto; 
    border-bottom: solid;
    border-left: solid;
    text-align: center;
  }

.text{
    margin-top: 20px;
}

@media(min-width:425px){
    .container{
        margin: 200px;
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 3%;
        grid-auto-flow: row;
        grid-template-areas:
          "item1"
          "item2"
          "item3";
    
      }
}
    
